.edit {
  .edit-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    .left{

        text-align: right;
        img{margin-top: 25px;
            width: 40px;
            height: 40px;
            border-radius: 50px;
        }
        h5{
          font-size: 16px;
        }
        h4{ font-size: 16px;
        margin-bottom: 100px;}
       
    }
    .right{
        text-align: left;
        h3{
          font-size: 20px;
          font-weight: normal;
          margin-top: 25px;
        }
        p{
          margin-top: -20px;
          font-size: 14px;
          font-weight:bold;
          color:#3897f0;

        }
        .p{
          margin-top: 10px;
          font-size: 14px;
          font-weight:bold;
          color:#999999;
        }
        input{
          width:355px;
          height:32px;
          border: 1px solid #efefef;
          border-radius: 3px;
          margin: 5px 0px 5px 0px;
        
        }
        input::placeholder{
          color:black;
          font-size: 16px;
          padding-left: 10px;

        }
        textarea{
          border: 1px solid #efefef;
          border-radius: 3px;
          margin: 5px 0px 5px 0px;
          width:355px;
          height:60px;
          overflow-y: scroll;
        }
        .checkbox{
          width:16px;
          height:16px;
          border: 1px solid #efefef;
          border-radius: 3px;
          margin: 25px 0px 5px 0px;
          
        }
        h6{
          margin: -35px 200px 15px 20px;
          font-size: 14px;
          span{
            color:#3897f0;
          }
        }
        button{
          background-color:  #3897f0;
          color: white;
          width: 64px;
          height: 30px;
          border: none;
          border-radius: 5px;
          margin: 10px 0px 0px 0px;
          font-weight:bold;
          opacity: 0.5;
      }
      #tem{
        margin: 15px 100px 0px 0px;
        float:right;
      }
       
    }
  }
}
