.privacyandsecurity{
    text-align: justify;
    margin: 40px 60px;
    p{
        color: #999999;
        font-size: 14px;
        margin: -16px 0px 35px 0px;

    }
    span{
        font-size: 14px;
        color: #3789f0;
    }
    h5{
        font-size: 14px;
        //padding: -5px;
    }
   
    h6{
        border-bottom: 1px solid gainsboro;
    }

        
        h2{
            font-size: 24px;
            font-weight: normal;
        }
        input{
            float: left;
        }
        

    

    
}