.profile{
   
    background:rgba(var(--b3f,250,250,250),1);
    
    height: 1000px;
    padding-top: 100px;
    .pro{
        margin:  0px 200px;
        img{
            //border: 1px solid gainsboro;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            float: left;
        }
        .details{
            margin-left: 200px;
            h4{
                font-size: 28px;
                font-weight: normal;
            }
            button{
                //box-sizing: border-box;
                border: 1px solid gainsboro;
                border-radius: 3px;
            width: 93px;
            height:33px;
            background:rgba(var(--b3f,250,250,250),1);
            
  
    cursor: pointer;
   
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    
            }
            .one{margin: 0% 0px -40px 0px ;
                li{
    
                     padding-right: 10px;
                    display:inline-block;
                    list-style:none;
                    span{
                        font-weight: normal;
                    }
                }
            }
            .two{margin: 0% 0px -20px 0px ;
                li {  h5{font-size: 16px;} 
                     padding-right: 20px;
                    display:inline-block;
                    list-style:none;
                    span{
                        font-weight: normal;
                    }
                }
            }
            h3,p {margin-left: 40px;
                font-size: 16px;
                margin-bottom: -12px;
    
            }
            
        }
    }
    .status{
        margin: 0% 200px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        .status-grid{
            img{
                margin: 100px 0px 0px 0px;
                border: 3px solid rgb(202, 67, 85);
                border-radius: 50%;
                width: 87px;
                height:87px;
               
            }
            h5{
                color:black;
                margin: -1px 0px 50px 10px;
              
           
            }
           
        }
    }
   .gallery{margin:  0px 200px;
    border-top: 1px  solid gainsboro;  
         .icon{margin:  30px 150px;
        display: grid;
    grid-template-columns: 160px 160px 170px 180px;
    .icon-grid{
        img{
            width: 16px;
            height: 16px;
            float: left;
        }
        p{
            float: right;
            margin: 0px 100px 0px 0px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;

        }
           }
    
       }
       .photo{
        display: grid;
        grid-template-columns: 293px 293px 293px;
        grid-gap:20px;.photo-grid{
            img{
                width:293px;
                height:293px;
            }
        }

    }

  }
    
}