.profile{
   
    background:rgba(var(--b3f,250,250,250),1);
    
    //height: 1200px;
    padding-top: 50px;
    .pro{
        margin:  0px 200px;
        img{
            //border: 1px solid gainsboro;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            float: left;
        }
        .details{
            margin-left: 200px;
            h4{
                font-size: 28px;
                font-weight: normal;
            }
            button{
                //box-sizing: border-box;
                border: 1px solid gainsboro;
                border-radius: 3px;
            width: 93px;
            height:33px;
            background:rgba(var(--b3f,250,250,250),1);
            
  
    cursor: pointer;
   
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    
            }
            .one{margin: 0% 0px -40px 0px ;
                li{
    
                     padding-right: 10px;
                    display:inline-block;
                    list-style:none;
                    span{
                        font-weight: normal;
                    }
                }
            }
            .two{margin: 0% 0px -20px 0px ;
                li {  h5{font-size: 16px;} 
                     padding-right: 20px;
                    display:inline-block;
                    list-style:none;
                    span{
                        font-weight: normal;
                    }
                }
            }
            h3,p {margin-left: 40px;
                font-size: 16px;
                margin-bottom: -12px;
    
            }
            
        }
    }
    .status{
        margin: 0% 200px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        .status-grid{
            img{
                margin: 80px 0px 0px 0px;
                border: 3px solid rgb(202, 67, 85);
                border-radius: 50%;
                width: 87px;
                height:87px;
                background: white;
            
               
            }
            h5{
                color:black;
                margin: -1px 0px 50px 10px;
              
           
            }
           
        }
    }
   .gallery{margin:  0px 200px;
    border-top: 1px  solid gainsboro;  
         .icon{margin:  30px 150px;
        display: grid;
    grid-template-columns: 160px 160px 170px 180px;
    .icon-grid{
        img{
            width: 16px;
            height: 16px;
            float: left;
        }
        p{
            float: right;
            margin: 0px 100px 0px 0px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;

        }
           }
    
       }
       .photo{
        display: grid;
        grid-template-columns: 293px 293px 293px;
        grid-gap:20px;.photo-grid{
            img{
                width:293px;
                height:293px;
            }
        }

    }

  }
    
}
.igtv{
    margin: 0% auto;
 .igtv-grid{
    margin: 100px auto;
    text-align: center;
     img{
         width:42px;
         height: 42px;
         border:1px solid black;
         border-radius: 50%;
         padding: 10px;

     }
     h1{
         font-weight: normal;
         font-size: 28px;
     }
     p{
        font-size: 14px;

     }
     button{
        background-color:  #3897f0;
        color: white;
        width: 99px;
        height: 30px;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
        font-weight: bold;
        font-size: 14px;
    }
 }
}
.explore{//margin: 50px 200px;
   
    .exploregrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        //grid-row-gap: 25px;
        grid-gap: 10px;
        height: 700px;
        .grid{
            opacity: 1;
            display: block;
            width: 100%;
            height: 343px;
            transition: .1s ease;
            backface-visibility: hidden;
            img{position: absolute;
                width: 293px;
                height: 293px;
            }
            .hide{
                display: none;
            }

        }
        .grid:hover{
            //background: rgba(0, 0, 0, 0.5);
            width: 293px;
            height: 293px;
            opacity: .7;
            transition: .1s ease;
            backface-visibility: hidden;
            //transition: -50%;
            
            
            .hide{position: relative;
                
                margin:120px auto;
                display: grid;
                grid-template-columns: 150px 100px;
                text-align: center;
               
                ul{ text-align: center;
                    li{
                        list-style-type: none;
                        float: left;
                        color: white;
                        
                        h4{color:white;
                        margin-top: -1px;}
                    }
                }
            }
            
        }
        
    }}